body {
  
   /* min-height: 100vh;  */
/* max-height: 800px; */
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
  
  display: flex;
  flex-direction: column; 

  align-items: center;
  justify-content: center;
  vertical-align: middle;
 /* height: 100vh; */
  height: 90vh;
}

#game {
 

  margin: 0 auto;
  width: 50%;
  z-index: 3;
  text-align: center;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}
p{
  font-size: 25px;
  font-weight: 900;
  color: rgb(49, 241, 241);
}
h1{
  
  color: #000;
  z-index: 2;

}
button{
  color: #000;
  background-color: crimson ;
  border:  0;
  font-size: 28px;
  border-radius: 13px;
  padding: 3px 20px;
  cursor: pointer;
  
}
button:hover{
  background-color:  rgb(190, 218, 9);
}
button:active{
  box-shadow: 0 2px 1px rgba(52, 28, 28, 0.1), 0 1px 3px rgba (0,0,0,0.3);
}

input{
  width: 50px;
  font-size: 28px;
  text-align: center;
}
#click-count{
  z-index: 3;
}